MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

DOMAIN_NAME=login.42.fr

WP_ADMIN=admin
WP_ADMIN_PASSWORD=adminpass
WP_ADMIN_EMAIL=admin@login.42.fr

WP_USER=login
WP_USER_PASSWORD=password
WP_USER_EMAIL=user@login.42.fr

LOGIN=login